* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.divider {
  padding: 0 10px;
}

.row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input__group {
  width: 100%;
  position: relative;
  padding-top: 8px;
}

.input__control {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  padding: 15px;
}

.input__label {
  position: absolute;
  left: 15px;
  top: 0;
  background-color: #ffffff;
}

.errorResponse {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 10px;
  table-layout: fixed;
  position: relative;
  background-color: #ffffff;
}

thead, tbody {
  border: 1px solid #ccc;
}

th {
  font-weight: 500;
  background-color: #fafafa;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

th, td {
  border: 1px solid #ccc;
  overflow-wrap: break-word;
}

th {
  position: relative;
}

.fa-sort,.fa-sort-asc, .fa-sort-desc {
  position: absolute;
  right: 10px;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 24px 0;
  padding-bottom: 15px;
}

.inputBtnColor{
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgb(153, 18, 18));
  background-size: cover;
  background-repeat: no-repeat;
}

.inputBtn {
  align-self: center;
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 0.5;
  margin: 0;
  height: 2.5rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.inputBtn:hover,
.inputBtn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.inputBtn:hover {
  transform: translateY(-1px);
}

.inputBtn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.inputBtn:disabled {
  background: #ccc !important;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.responseMessage{
  background-color: #ccc;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.dateRange{
  width: 190px;
  outline: none;
  border: 1px solid #ccc;
  height: 28px;
  margin-right: 10px;
  padding: 0 0 0 10px;
}

.loader {
  align-self: center;
  margin: 0 auto;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 767px) {
}
